html
    head 
        title Highscores 
        link(rel="stylesheet", href="/static/style.css")
        <link href="https://fonts.cdnfonts.com/css/ds-marker-felt" rel="stylesheet">

    body 
        header 
            img(src="/static/Highscores.png", alt="Highscore logo").header--image
        main.highscore--page
            ul(class="higscore--page_highscore--list") 
                li(class="highscore--list_highscore--titles") 
                    p(class="highscore--titles_highscore--title") Username 
                    p(class="highscore--titles_highscore--title") Time 
                    p(class="highscore--titles_highscore--title") Unique 
                    p(class="highscore--titles_highscore--title") Word Length
                    p(class="highscore--titles_highscore--title") Guesses
                each user in highscores
                    li(class="highscore--list_user--score") 
                        p(class="user--score_username")= user.user 
                        p(class="user--score_time")= user.time
                        p(class="user--score_word--unique")= user.unique
                        p(class="user--score_word--length")= user.length
                        p(class="user--score_guesses")= user.guesses
            button.back--to--start
                a(href="/") Back to start