html
    head 
        title Highscores 
        link(rel="stylesheet", href="/static/style.css")
        <link href="https://fonts.cdnfonts.com/css/ds-marker-felt" rel="stylesheet">

    body 
        header 
            img(src="/static/Highscores.png", alt="Highscore logo").headerImage
        main.highscorePage 
            ul.highscoreList 
                li.highscoreTitles 
                    p.hihgscoreTitle Username 
                    p.hihgscoreTitle Time 
                    p.hihgscoreTitle Unique 
                    p.highscoreTitle Word Length
                    p.hihgscoreTitle Guesses
                each user in highscores
                    li.userScores 
                        p.user= user.user 
                        p.time= user.time
                        p.unique= user.unique
                        p.length= user.length
                        p.guesses= user.guesses
            button.backToStart
                a(href="/") Back to start